@tailwind base;

/* Import Tailwind CSS component styles */
@tailwind components;

/* Import Tailwind CSS utility styles */
@tailwind utilities;

#root {
    display: flex;
    width: 100%;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
}
